@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500&display=swap');

.accountPage {
  background-repeat: no-repeat; 
  background-size: cover; 
  padding-top: 1px;
  min-height: 110vh;
}

.liked-events-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logged-in {
  padding: 25px;
  font-size: 25px;
  font-weight: 500;
  border-style: solid;
  border-top: 1px;
  border-radius: 0px 0px 25px 25px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 20px 30px -10px;
  color: whitesmoke;
}