/* standard gradient background */ 
.map-container {
  width: 500px;
}

/* .event-page-background {
  background-image: linear-gradient(hsl(181, 83%, 21%), hsl(182, 87%, 5%));
  background-repeat: no-repeat; 
  background-size: cover; 
  padding-top: 1px;
  min-height: 110vh;
  width: 100%;
} */

.event-div {
  padding: 25px
}